<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTjQzVJ9ypIe6Nq6QVsplpI3Mw4BejFGU</string>
	<key>GCM_SENDER_ID</key>
	<string>974036341583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mg.assesment</string>
	<key>PROJECT_ID</key>
	<string>assesmet-f16e5</string>
	<key>STORAGE_BUCKET</key>
	<string>assesmet-f16e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974036341583:ios:40e630460340e4af0eeb3a</string>
</dict>
</plist>